$textColor: #595959;
$borderColor: #e5e5e5;
$defaultFontSize: 14px;

body {
	color: $textColor;
	font-size: $defaultFontSize;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: $textColor;
	&:hover {
		text-decoration: underline;
	}
}

header {
	h1 {
		text-transform: uppercase;
		font-weight: normal;
		font-size: 45px;
		color: #505050;
	}
}

footer {
	margin: 0 auto;
	display: table;
}

#shopping-cart {
	margin: auto;
	.items-list {
		border-top: 1px solid $borderColor;
		.list-header {
			width: 100%;
			display: table;
			.item-attr,
			.item-view {
				padding: 15px 0;
			}
			border-bottom: 8px solid lighten($borderColor, 3%);
		}
		.list-item {
			width: 100%;
			display: table;
			padding: 20px 0;
			border-bottom: 1px solid $borderColor;
		}
		.item-view {
			.desc {
				margin-left: 30px;
				p {
					line-height: 1.45;
					min-height: 100px;
				}
				.title {
					text-transform: uppercase;
				}
			}
			figure {
				margin: 0;
				float: left;
				min-width: 145px;
				min-height: 190px;
			}
			.user-actions {
				a {
					margin: 0 4px;
					font-size: 12px;
					white-space: nowrap;
					text-transform: uppercase;
				}
			}
		}
		.item-desc {
			.item-attr {
				float: left;
				text-align: center;
				.prev-price {
					text-decoration: line-through;
					color: lighten($textColor, 40%);
					display: block;
				}
				input[type='text'] {
					width: 40px;
					text-align: center;
					padding: 4px 0;
					margin-top: -5px;
					border: 1px solid $borderColor;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					-ms-box-sizing: border-box;
					box-sizing: border-box;
				}
			}
			.pricing {
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}
	.listed-item {
		border: 1px solid #000;
	}
	.related-items {
		border: 1px solid $borderColor;
		height: 430px; /* temp */
	}

	.title-heading.col-sm-12 {
		padding-top: 12px;
	}

	hr {
		color: lightgray;
	}
	.divider {
		border: 4px solid lighten($borderColor, 3%);
	}
}

// common css
.row {
	.col-sm-1 {
		width: 8.33%;
		float: left;
	}
	.col-sm-2 {
		width: 16.66%;
		float: left;
	}
	.col-sm-3 {
		width: 25%;
		float: left;
	}
	.col-sm-4 {
		width: 33.33%;
		float: left;
	}
	.col-sm-5 {
		width: 41.66%;
		float: left;
	}
	.col-sm-6 {
		width: 50%;
		float: left;
	}
	.col-sm-7 {
		width: 58.33%;
		float: left;
	}
	.col-sm-8 {
		width: 66.66%;
		float: left;
	}
	.col-sm-9 {
		width: 75%;
		float: left;
	}
	.col-sm-10 {
		width: 83.33%;
		float: left;
	}
	.col-sm-11 {
		width: 91.66%;
		float: left;
	}
	.col-sm-12 {
		width: 100%;
		float: left;
	}
}

/* Modal Popup */
#model {
	.modal {
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	
		.modal-content {
			display: table;
			background-color: #fefefe;
			margin: auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
	
			.close {
				color: #aaaaaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
				&:hover, &:focus {
					color: #000;
					text-decoration: none;
					cursor: pointer;
				}
			}
		}
	}
}

.hidden {
	display: none !important;
}

.color-selection {
	border: 1px solid #000;
}

.select-color {
	width: 20px; 
	height: 20px;
}

.color-error, .size-error {
	color: red;
}

/* Media Queries */
@media (min-width: 1024px) {
	.container {
		width: 960px;
		margin: 0 auto;
	}

	.col-left {
		float: left;
		width: 710px;
	}

	.col-right {
		float: right;
		width: 215px;
	}

	#shopping-cart {
		.items-list {
			.item-view {
				width: 458px;
			}
			.item-desc {
				width: 252px;
				.item-attr {
					width: 84px;
				}
			}
		}
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	#shopping-cart {
		.items-list {
			.item-view {
				width: 60%;
			}
			.item-desc {
				width: 40%;
				.item-attr {
					width: 33%;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#shopping-cart {
		.items-list {
			.item-view,
			.item-desc {
				float: left;
				.desc {
					float: left;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	#shopping-cart {
		.items-list {
			.item-desc {
				.item-attr {
					min-width: 60px;
					.prev-price {
						display: inline;
						margin: 0 20px;
					}
				}
			}
			.list-header {
				display: none;
			}
			.item-view {
				.user-actions {
					a {
						line-height: 2.5;
					}
				}
				.desc {
					margin-left: 180px;
				}
			}
			.item-desc {
				padding-top: 20px;
				display: table;
				width: 100%;
			}
		}
	}
}
