sup {
  font-size: 75%; }

.no-wrap {
  white-space: nowrap; }

.text-right {
  text-align: right; }

.pull-right {
  float: right; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #595959; }
  a:hover {
    text-decoration: none; }

input {
  color: #595959; }

.hidden {
  display: none !important; }

.color-selection {
  border: 1px solid #000; }

.select-color {
  width: 20px;
  height: 20px; }

.color-error, .size-error {
  color: red; }

body {
  color: #595959;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif; }

header h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 45px;
  color: #505050; }

#target {
  width: 100%;
  display: table; }

#shopping-cart {
  margin: auto; }
  #shopping-cart .items-list {
    border-top: 1px solid #e5e5e5; }
    #shopping-cart .items-list a {
      text-decoration: none; }
      #shopping-cart .items-list a:hover {
        text-decoration: underline; }
    #shopping-cart .items-list .list-header {
      width: 100%;
      display: table;
      border-bottom: 6px solid #ededed; }
      #shopping-cart .items-list .list-header .item-attr,
      #shopping-cart .items-list .list-header .item-view {
        padding: 15px 0; }
    #shopping-cart .items-list .list-item {
      width: 100%;
      display: table;
      padding: 20px 0;
      border-bottom: 1px solid #e5e5e5; }
      #shopping-cart .items-list .list-item:last-child {
        border-bottom: none; }
    #shopping-cart .items-list .item-view .desc {
      margin-left: 30px; }
      #shopping-cart .items-list .item-view .desc p {
        line-height: 1.45;
        min-height: 100px; }
      #shopping-cart .items-list .item-view .desc .title {
        text-transform: uppercase; }
    #shopping-cart .items-list .item-view figure {
      margin: 0;
      float: left;
      min-width: 145px;
      min-height: 190px; }
    #shopping-cart .items-list .item-view .user-actions a {
      margin: 0 4px;
      font-size: 12px;
      white-space: nowrap;
      text-transform: uppercase; }
    #shopping-cart .items-list .item-view .user-actions .icon {
      top: 1px;
      font-size: 16px;
      position: relative; }
    #shopping-cart .items-list .item-desc .item-attr {
      float: left;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase; }
      #shopping-cart .items-list .item-desc .item-attr .prev-price {
        text-decoration: line-through;
        color: #bfbfbf;
        display: block; }
      #shopping-cart .items-list .item-desc .item-attr input[type='text'] {
        width: 40px;
        text-align: center;
        padding: 4px 0;
        margin-top: -5px;
        border: 1px solid #e5e5e5;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
    #shopping-cart .items-list .item-desc .pricing {
      font-size: 16px;
      line-height: 1.5; }
  #shopping-cart .listed-item {
    border: 1px solid #000; }
  #shopping-cart .related-items {
    padding: 20px;
    text-align: center;
    border: 1px solid #e5e5e5;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    #shopping-cart .related-items .title {
      margin-top: 20px; }
    #shopping-cart .related-items .price {
      font-size: 24px;
      margin-top: 10px; }
    #shopping-cart .related-items .btn {
      border: 1px solid #e5e5e5;
      text-decoration: none;
      padding: 10px 20px;
      display: inline-block;
      text-transform: uppercase;
      margin-top: 15px; }
      #shopping-cart .related-items .btn:hover {
        text-decoration: none; }
    #shopping-cart .related-items h3 span {
      margin: 4px 0;
      display: block;
      font-size: 15px;
      font-style: italic;
      color: #8c8c8c; }
    #shopping-cart .related-items h3,
    #shopping-cart .related-items h4 {
      margin: 0;
      font-weight: normal; }
    #shopping-cart .related-items hgroup {
      margin-bottom: 20px; }
  #shopping-cart .title-heading.col-sm-12 {
    padding-top: 12px; }
  #shopping-cart hr {
    color: lightgray; }
  #shopping-cart .divider {
    border: 4px solid #ededed; }
  #shopping-cart .checkout-pane .items-list {
    border-top: 0;
    margin-bottom: 55px;
    border-bottom: 1px solid #e5e5e5; }

/* Modal Popup */
#model .modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  #model .modal .modal-content {
    width: 80%;
    margin: auto;
    display: table;
    padding: 60px 20px;
    box-sizing: border-box;
    border: 1px solid #888;
    background-color: #fefefe;
    position: relative; }
    #model .modal .modal-content .close {
      color: #aaaaaa;
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      right: 20px;
      top: 20px; }
      #model .modal .modal-content .close:hover, #model .modal .modal-content .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer; }

#model .product-details {
  width: 30%;
  float: left;
  padding: 0 10%;
  text-align: center; }
  #model .product-details .title {
    padding-top: 20px;
    text-transform: uppercase;
    border-top: 6px solid #e5e5e5; }
  #model .product-details .pricing {
    font-size: 50px; }
  #model .product-details .patterns {
    font-size: 12px;
    margin: 30px 0 15px;
    text-transform: uppercase; }
    #model .product-details .patterns ul {
      padding: 0;
      margin: 10px 0 0; }
      #model .product-details .patterns ul li {
        cursor: pointer;
        display: inline-block;
        border: 1px solid #ddd; }
        #model .product-details .patterns ul li.color-selection {
          border-color: #000; }
  #model .product-details .fields select {
    width: 46%;
    float: left;
    margin: 0 2%;
    padding: 7px 7px 8px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5; }
  #model .product-details input[type='button'] {
    width: 96%;
    border: none;
    padding: 13px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    background: #ff6600;
    text-transform: uppercase;
    box-sizing: border-box; }
  #model .product-details a {
    font-size: 12px; }

#model .product-view {
  width: 50%;
  float: left; }
  #model .product-view img {
    display: block;
    margin: 70px auto; }

.checkout-pane {
  border-top: 6px solid #ededed;
  padding-top: 60px; }
  .checkout-pane .contact-info {
    font-size: 13px; }
    .checkout-pane .contact-info ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.4; }
      .checkout-pane .contact-info ul li {
        margin-bottom: 10px; }
  .checkout-pane .promotional-code {
    width: 100%;
    display: table;
    padding-bottom: 30px;
    border-bottom: 6px solid #ededed; }
    .checkout-pane .promotional-code .form-row {
      display: inline-block;
      white-space: nowrap; }
    .checkout-pane .promotional-code label {
      font-size: 12px;
      vertical-align: middle;
      text-transform: uppercase; }
    .checkout-pane .promotional-code input[type='text'] {
      width: 150px;
      padding: 7px 7px 8px;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #e5e5e5; }
    .checkout-pane .promotional-code input[type='button'] {
      width: 85px;
      height: 32px;
      border: none;
      font-size: 12px;
      background: none;
      margin-left: 4px;
      text-transform: uppercase;
      border: 1px solid #c2c2c2; }
  .checkout-pane .pricing-info dl {
    width: 100%;
    display: table;
    margin-bottom: 10px; }
  .checkout-pane .pricing-info dt {
    float: left;
    width: 200px; }
  .checkout-pane .pricing-info dd {
    float: right; }
  .checkout-pane .pricing-info .title {
    text-transform: uppercase;
    font-size: 12px;
    display: block; }
  .checkout-pane .pricing-info .additional-info {
    color: #999; }
  .checkout-pane .pricing-info .total {
    font-size: 18px;
    padding-bottom: 5px;
    border-top: 1px solid #e5e5e5; }
    .checkout-pane .pricing-info .total dt {
      top: 4px;
      position: relative; }
    .checkout-pane .pricing-info .total dd {
      top: -3px;
      position: relative;
      font-size: 23px; }
  .checkout-pane .checkout-cta {
    text-align: right;
    padding-top: 20px;
    margin-bottom: 20px;
    border-top: 6px solid #e5e5e5; }
    .checkout-pane .checkout-cta a {
      font-size: 12px;
      text-transform: uppercase; }
    .checkout-pane .checkout-cta input[type='submit'] {
      color: #fff;
      border: none;
      width: 118px;
      padding: 13px;
      cursor: pointer;
      background: #ff6600;
      text-transform: uppercase;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      margin-left: 20px; }
  .checkout-pane .list-header {
    padding-top: 40px; }
    .checkout-pane .list-header h2 {
      font-size: 30px;
      margin-bottom: 0;
      font-weight: normal;
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5; }
    .checkout-pane .list-header .pull-right {
      margin-top: 23px; }

.site-footer {
  margin-bottom: 60px; }
  .site-footer a {
    text-transform: uppercase;
    font-size: 13px; }

/* Media Queries */
@media (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto; }
  .col-left {
    float: left;
    width: 710px; }
  .col-right {
    float: right;
    width: 215px; }
  #shopping-cart .items-list .item-view {
    width: 458px; }
  #shopping-cart .items-list .item-desc {
    width: 252px; }
    #shopping-cart .items-list .item-desc .item-attr {
      width: 84px; }
  .checkout-pane .checkout-info {
    float: left;
    width: 462px; } }

@media (max-width: 1023px) and (min-width: 768px) {
  #shopping-cart .items-list .item-view {
    width: 60%; }
  #shopping-cart .items-list .item-desc {
    width: 40%; }
    #shopping-cart .items-list .item-desc .item-attr {
      width: 33%; }
  .checkout-pane .checkout-info {
    margin-left: 250px; } }

@media (min-width: 768px) {
  #shopping-cart .items-list .item-view,
  #shopping-cart .items-list .item-desc {
    float: left; }
    #shopping-cart .items-list .item-view .desc,
    #shopping-cart .items-list .item-desc .desc {
      float: left; }
  .contact-info {
    float: left;
    width: 248px; }
    .contact-info ul {
      width: 150px; }
  .checkout-pane .promotional-code .form-row {
    float: right; }
  .checkout-pane .promotional-code label {
    width: 189px;
    display: inline-block; } }

@media (max-width: 767px) {
  #shopping-cart .items-list .item-desc .item-attr {
    min-width: 60px; }
    #shopping-cart .items-list .item-desc .item-attr .prev-price {
      display: inline;
      margin: 0 20px; }
  #shopping-cart .items-list .list-header {
    display: none; }
  #shopping-cart .items-list .item-view .user-actions a {
    line-height: 2.5; }
  #shopping-cart .items-list .item-view .desc {
    margin-left: 180px; }
  #shopping-cart .items-list .item-desc {
    padding-top: 20px;
    display: table;
    width: 100%; }
  .checkout-pane .contact-info {
    margin-bottom: 53px; }
  .checkout-pane .promotional-code label {
    display: block;
    margin-bottom: 15px; } }
